body {
    background: url('./public/bgwpd2.png') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .hospital-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .hospital-list li {
    background-color: #2d3748;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    color: #e2e8f0;
  }

  #chatInput{
    background-color: #151C2A;
  }
  #chatInput1{
    background-color: #151C2A;
  }
  .zoom-out:hover {
    transform: scale(1.4); /* Slightly zoom out */
    transition: transform 0.3s ease-in-out;
}
#chatInputContainer {
    position: sticky;
    bottom: 0;
    background: #1a1a2e;
    padding: 10px;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full screen height */
}

#chatbox {
    flex-grow: 1; /* Expands to take available space */
    overflow-y: auto; /* Enables scrolling */
    padding-bottom: 10px; /* Ensures some spacing from input */
}